[submodule "modules/vtk/src"]
	path = modules/vtk/src
	url = https://gitlab.kitware.com/vtk/vtk.git
[submodule "modules/emsdk/src"]
	path = modules/emsdk/src
	url = https://github.com/emscripten-core/emsdk.git
